<h2>Beer clubs</h2>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Founded</th>
  </tr>
  </thead>

  <tbody>
  <% @clubs.each do |club| %>
      <tr>
        <td><%= link_to club.name, club %></td>
        <td><%= club.city %></td>
        <td><%= club.founded %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to('New beer club', new_beer_club_path, :class => 'btn btn-primary') if current_user %>