<h2>Listing ratings</h2>

<p>Number of ratings: <%= @ratings.count %></p>

<ul>
  <% @ratings.each do |rating| %>
  <li>
    <%= rating %>, rated by <%= link_to rating.user.username, user_path(rating.user) %>
  </li>
  <% end %>
</ul>