<h2>Styles</h2>

<p id="notice"><%= notice %></p>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>

  <tbody>
  <% @styles.each do |style| %>
      <tr>
        <td><%= link_to style.name, style %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to('New style', new_style_path, :class => 'btn btn-primary') if current_user %>